.navbar {
    height: 60px;
    background-color: #273a78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.navbar .homeBtn {
	border:#6c757d 3px solid;
	background-color: #6c757d;
	border-radius: 5px;
	font-size: 15px;
	padding:5px;
	color: white !important;
	cursor:pointer;
	transition-duration: 0.2s;
}

.navbar .homeBtn:hover {
	border:#545b62 3px solid;
	background-color: #545b62;
}

.iconHolder {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.iconHolder img {
	width: 100%;
}